*{
  background-color:#edf4f2;
}
.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
}

.title {
  background-color: #79d70f;
  margin: 0% 20%;
}

.home-title{
  background-color: #79d70f;
  margin: 0% 15%;
}

.change-title{
  background-color: #79d70f;
}

.head-img{
  height: 30%;
  width: 60%;
}

.nav{
  display: flex;
  justify-content: space-evenly;
}

.link{
  text-align: center;
  text-decoration: none;
  color: black;
  padding-top: 2%;
  background: #f5a31a;
  color: white;
  border: none;
  margin: 10px 0px;
  padding: 5px;
  border-radius: 10px;
  width: 80px;
}

.link:hover{
  background: yellow;
  color: black;
  font-weight: bold;
}

.list{
  text-align: center;
  margin: 0% 43%;
}

.item{
  margin: 5% 0;
}

.btn{
  background: #f5a31a;
  color: white;
  border: none;
  margin: 10px 5px;
  padding: 5px;
  border-radius: 10px;
  height: 30px;
  width: 80px;
}

.btn:hover{
  background: yellow;
  color: black;
  font-weight: bold;
}

.sale-btn{
  background: #f5a31a;
  color: white;
  border: none;
  margin: 10px 5px;
  padding: 5px;
  border-radius: 10px;
  height: 50px;
  width: 80px;
}

.sale-btn:hover{
  background: yellow;
  color: black;
  font-weight: bold;
}